<div class="content-container by-city-content">
  <div class="error" *ngIf="isError">{{ errorMessage }}</div>
  <div class="search-container">
    <app-search-input [formControl]="searchControl"></app-search-input>
  </div>
  <div class="filter-btn-container">
    <app-forecast-filter-button
      *ngFor="let config of filterButtonsConfig"
      [config]="config"
      [currentMode]="currentMode"
      (click)="setConfig(config)">
    </app-forecast-filter-button>
  </div>
  <app-main-table [cols]="cols" [rows]="rows"></app-main-table>
</div>
